{% extends 'app/base.html' %}
{% load static %}
{% block title %}laptops{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
  <ul class="list-group">
  <a  href = "{% url 'laptop' %}" class ="list-group-item list-group-item-action" aria-current = "true" > All laptops</a>
  <a  href = "{% url 'laptopdata' 'asus'%}" class ="list-group-item list-group-item-action" aria-current = "true" > asus</a>
  <a  href = "{% url 'laptopdata' 'hp'%}" class ="list-group-item list-group-item-action" aria-current = "true" > hp</a>
  <a  href = "{% url 'laptopdata' 'apple'%}" class ="list-group-item list-group-item-action" aria-current = "true" > apple</a>
   <a  href = "{% url 'laptopdata' 'below'%}" class ="list-group-item list-group-item-action" aria-current = "true" > Below 50000</a>
   <a  href = "{% url 'laptopdata' 'above'%}" class ="list-group-item list-group-item-action" aria-current = "true" > Above 50000</a>


  
</ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row">
        {% for product in laptops %}
        
        <div class="col-sm-4">
        <a href="{%url 'product-detail' product.id %}">
        <img src={{product.product_image.url}} alt="">
         </a>
        <p>{{product.title}}</p>
        <p>{{product.discounted_price}}</p>
        </div>
       
        {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}