{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 {% comment %} <h3>Welcome {{request.user.username}}</h3> {% endcomment %}
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    {% comment %} <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li> {% endcomment %}
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
        {% comment %} <h3> passwordchangedone</h3> {% endcomment %}
        <div><img src= "https://aws1.discourse-cdn.com/auth0/optimized/2X/a/a8078ed23a9a28ec2fcbbc62adc23369c1b5aa44_2_422x500.png"</div>
  </div>
 </div>
</div>
{% endblock main-content %}